<h3>Link Generado: <%= link_to "#{request.protocol}#{request.host_with_port}#{ short_work_path(@work)}", short_work_path(@work) %></h3>
<div class= "cuerpo">
	<pre><code>
		<%= @work.text %>
	</code></pre>
</div>
