<div class= "cabecera">
	<h1>Code Share</h1>
</div>
	<h2>Comparte tu codigo</h2>
	<%= form_for Work.new do |f| %>
		<%= f.text_area :text%>
		<%= f.submit %>
	<% end %>
	<div class= "footer">
		<p>Sitio en construcci&oacute;n</p>
	</div>