<div class= "cabecera">
	<h1>Code Share</h1>
</div>
<h3>Comparte tu codigo</h3>
<div class= "cuerpo">
	<%= form_for Work.new do |f| %>
		<%= @f = f.text_area :text%>
		<%= f.submit%>
	<% end %>
	</div>
	<div class= "footer">
		<h4>Sitio elaborado por <a href="http://github.com/jrg05">Jorge Gimenez</a></h4>
		<p>Facebook: <a href="http://facebook.com/Djorge.Gimenez">DJorge Gimenez</a></p>
		<p>Twitter: <a href="http://twitter.com/jrg_2033">@jrg_2033</a></p>
	</div>