<h1>Sito elaborado en Ruby on Rails</h1>
<p>CodeShare surge como herramienta para compartir codigo con los amigos a travez de un link generado que puede ser</p>
<p>insertado en nuestras redes sociales como un simple estado</p>