/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.cabecera{
	background-color: #000066;
	border-top: double;
	border-style: outset;
	border-bottom: none;
	border-color: #708090;
	text-transform: capitalize;
	height: 30%;
	width: 100%;
	font-family: Arial;
}
.Navegador{
	font-family: Arial;font-size: 13px;
	height: 20px;
	width: 100%;
	background-color: #3366CC;
	border-top: none;
	border-style: solid;
	border-bottom: none;
	border-color: #708090;
}
.cuerpo{
	border: outset;
	border-color: #B0E0E6;
	border-radius: 20px;
}
body{
	color: #DCDCDC;
	background-color: #B0C4DE;
	font-family: 'Fjalla One', sans-serif;
}
h1,h2{
	font-family: Arial;
	text-transform: capitalize;
}
h3{
	color: black;
}
a{
	color: #6699FF;
	text-decoration: none;
}
pre{
	color: #669999;
}
.footer{
	border:outset;
	border-color:  #708090;
	color: black;
	font-size: 14px;
	background-color: #333399;
	width: 100%;
	height: 15%;
	font-family: Arial;
	}
 	 