<!DOCTYPE html>
<html>
<head>
  <title>Proyect</title>
    <link rel="shorcut icon" href="codeshare1.png">
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<script language = "JavaScript">
		var var txt= "CodeShare";
		var espera= 200;
		var refresh= null;
			function rotulo_title (){
				document.title= txt;
				txt= txt.substring(1,txt.length)+txt.charAt(0);
				refresh= setTimeout("rotulo_title()",espera);
			}
			rotulo_title();
		</script> -->
<div class= "cabecera">
	<h1><a href="/">Code Share</a></h1>
</div>
<div class="Navegador">
	<a href="/about.html.erb">Sobre CodeShare</a>
</div>
<%= yield %>
	<div class= "footer">
		<h4>Sitio elaborado por <a href="http://github.com/jrg05" target="_blank">Jorge Gimenez</a></h4>
		<p>Facebook: <a href="http://facebook.com/Djorge.Gimenez" target="_blank">DJorge Gimenez</a></p>
		<p>Twitter: <a href="http://twitter.com/jrg_2033" target="_blank">@jrg_2033</a></p>
	</div>

</body>
</html>
